@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
:root {
	--primary-color: #22254b;
	--secondary-color: #373b69;
}
body {
	background-color: var(--secondary-color);
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	width: 10px;
	background-color: var(--secondary-color);
}
::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 20px;
}

/* ! reused css */
.btn {
	padding: 5px 15px;
	border-radius: 5px;
	font-family: inherit;
	font-size: 1rem;
	cursor: pointer;
	border: 1px solid transparent;
	transition: all 0.3s ease;
	background-color: #ccc;
	color: black;
}
.btn:hover {
	background-color: #fff;
}
.btn__black {
	background-color: #222;
	color: #fff;
}
.btn__black:hover {
	background-color: #000;
}
.btn:disabled:hover {
	background-color: #ccc;
	cursor: no-drop;
}
/* ... */
.header {
	padding: 20px;
	background-color: var(--primary-color);
}
.header a {
	color: #fff;
	text-decoration: none;
	font-size: 2rem;
	font-weight: 700;
}
.search__sort {
	padding: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	background-color: var(--secondary-color);
	border-bottom: 2px solid #aaa;
}
.form {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}
.search__sort input {
	padding: 5px 10px;
	font-size: 1.2rem;
	font-family: inherit;
	outline: none;
	border-radius: 5px;
	border: none;
	background-color: var(--primary-color);
	transition: all 0.5s ease;
	width: 200px;
}
input:focus {
	background-color: #ccc;
	padding: 5px 15px;
	width: 350px;
}
@media screen and (max-width: 500px) {
	input:focus {
		width: 250px;
	}
}
.sort__div {
	display: flex;
	gap: 20px;
}
.sort__div button {
	padding: 5px 10px;
	font-size: 0.9rem;
	font-family: inherit;
}
#main {
	padding: 0 20px;
	margin-top: 10px;
}
.tabs {
	margin-bottom: 20px;
	display: flex;
	gap: 10px;
	padding: 10px;
	/* border-bottom: 2px solid #aaa; */
}
#main .tabs button {
	width: 100px;
}
#main .tabs button.active-tab {
	background-color: black;
	color: #fff;
}
#main .tabs button.active-tab:hover {
	border-color: transparent;
}
#movies__list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	gap: 30px;
}
.movie__card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 400px;
	width: 250px;
	border: none;
	outline: none;
	border-radius: 7px;
	margin: auto;
	background-color: #fff;
	overflow: hidden;
	transition: all 0.5s ease;
	position: relative;
}
.movie__card img {
	width: 100%;
	object-fit: cover;
	object-position: center top;
	height: 100%;
	transition: all 0.5s ease;
}
.movie__card .card__title {
	font-family: inherit;
	font-size: 1.3rem;
	font-weight: 700;
	margin-block: 10px;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.movie__card .card__details {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--primary-color);
	color: #ccc;
	padding: 0 15px 15px;
	z-index: 1;
}
.movie__card .card__details div {
	overflow: hidden;
}
.movie__card .card__details .rating {
	display: flex;
	justify-content: space-between;
}
.movie__card .card__details p {
	font-size: 1rem;
	margin-bottom: 5px;
}
.movie__card .card__details i {
	font-size: 2rem;
	color: red;
	cursor: pointer;
	margin: 1px;
}
.movie__card .card__details .overview {
	height: 0;
	transition: all 0.5s ease;
}
.movie__card .card__details .overview::-webkit-scrollbar {
	width: 5px;
	background-color: var(--secondary-color);
}
.movie__card .card__details .overview::-webkit-scrollbar-thumb {
	background-color: #aaa;
	border-radius: 20px;
}
.movie__card:hover {
	box-shadow: -2px 2px 5px rgba(255, 255, 255, 0.15);
}
.movie__card:hover img {
	transform: scale(1.05);
}
.movie__card:hover .card__title {
	text-overflow: initial;
	white-space: normal;
}
.movie__card:hover .card__details .overview {
	height: 150px;
	overflow-y: overlay;
}
#main #pagination__container {
	text-align: center;
	margin-block: 20px 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}
#main #pagination__container .btn {
	border: none;
	width: auto;
}
.footer {
	background-color: var(--primary-color);
	margin-top: 10px;
}
.footer__text {
	text-align: center;
	color: #fff;
	padding: 10px;
	font-family: inherit;
	font-size: 1rem;
}
